{% load static %}
<link rel="stylesheet" href="{% static 'client/css/main.css' %}" />
<style>
   .exit-button{
        color:white;
        padding:2px 4px 3px 4px;
        border:1px solid white;
        border-radius: 3px;
        text-decoration:none;
    }
    .exit-button:hover{
        color:black;
        background:white;
    }
    .exit-button:focus{
        color:gray;
    }
</style>

<div id="container">
    <div id="blocker">
			<div id="instructions">
                <div>
                    <span style="font-size:40px">Click to play</span>
                    <br />
                    (W, A, S, D = Move, SPACE = Jump, MOUSE = Look around)
                    <br />
                    <a href="/client/lobby/list" class="exit-button">Exit</a>
                </div>
			</div>
		</div>
</div>

<script
src="https://code.jquery.com/jquery-3.1.1.min.js"
integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
crossorigin="anonymous"></script>
<script>
    var player_name = '{{ request.user.username }}';
    var player_positions = {
    {% for map in maps %}
        {{ map.user.username }}: {'x': 0, 'y':0, 'z':0},
    {% endfor %}
    }

</script>
<script src="{% static 'client/js/three.min.js' %}"></script>
<script src="{% static 'client/js/lib/OrbitControls.js' %}"></script>
<script src="{% static 'client/js/lib/PointerLockControls.js' %}"></script>
<script src="{% static 'client/js/Planet.js' %}"></script>
<script src="{% static 'client/js/Player.js' %}"></script>
<script type="application/x-glsl" id="sky-vertex">
varying vec2 vUV;

void main() {
  vUV = uv;
  vec4 pos = vec4(position, 1.0);
  gl_Position = projectionMatrix * modelViewMatrix * pos;
}
</script>

<script type="application/x-glsl" id="sky-fragment">
uniform sampler2D texture;
varying vec2 vUV;

void main() {
  vec4 sample = texture2D(texture, vUV);
  gl_FragColor = vec4(sample.xyz, sample.w);
}
</script>
<script src="{% static 'client/js/main.js' %}"></script>


