{% extends 'core/home.html' %}

{% block title %}Lobbies{% endblock %}

{% block body %}
    <section class="hero is-light is-bold">
        <div class="hero-body">
            <div class="container">
                <div class="columns">
                    <div class="column">
                        <h1 class="title">Lobbies</h1>
                    </div>
                    <div class="column is-narrow">
                        <a href="{% url 'client:lobby_create' %}" class="button is-primary is-outlined">Create</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="columns">
        <div class="column is-6 is-offset-3 has-text-centered">
        </div>
    </div>
    <div class="columns">
        <div class="column is-6 is-offset-3 has-text-centered">
            {% if not lobbies %}
                <p>No lobbies available</p>
            {% else %}
                {% for lobby in lobbies %}
                    <div class="box">
                        <div class="columns">
                            <div class="column is-2" style="color:darkgray;">
                                {{ lobby.created_by }}
                                {{ lobby.created_date|date:"SHORT_DATETIME_FORMAT" }}
                            </div>
                            <div class="column is-8">
                                <p>{{ lobby.name }}</p>
                                <p>Player count: {{ lobby.player_count }}</p>
                            </div>
                            <div class="column is-2 children-is-vertical-center">
                                <a class="button is-primary" href="{% url 'client:lobby_join' lobby.id %}"
                                   {% if lobby.started and lobby.id != my_lobby %}disabled{% endif %}>
                                    {% if lobby.started and lobby.id == my_lobby %}
                                        Enter Game
                                    {% elif lobby.started %}
                                        Started
                                    {% elif lobby.id == my_lobby %}
                                        Enter
                                    {% else %}
                                        Join
                                    {% endif %}
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}

        </div>
    </div>
{% endblock %}