{% extends 'core/home.html' %}

{% block title %}Lobbies{% endblock %}

{% block body %}
    <div class="columns">
        <div class="column is-6 is-offset-3 has-text-centered">
            <h1>Current Lobbies</h1>
            <a href="create/" class="button is-primary">Create Lobby</a>
        </div>
    </div>
    <div class="columns">
        <div class="column is-6 is-offset-3 has-text-centered">
            <p>No lobbies available</p>
        </div>
        {{ lobbies }}
    </div>
{% endblock %}