{% extends 'core/home.html' %}

{% block title %}Lobbies{% endblock %}

{% block body %}
    <div class="columns">
        <div class="column is-6 is-offset-3 has-text-centered">
            <h1>Current Lobbies</h1>
            <a href="{% url 'client:lobby_create' %}" class="button is-primary">Create Lobby</a>
        </div>
    </div>
    <div class="columns">
        <div class="column is-6 is-offset-3 has-text-centered">
            {% if not lobbies %}
                <p>No lobbies available</p>
            {% else %}
                {% for lobby in lobbies %}
                    <p>{{ lobby.name }}</p>
                {% endfor %}
            {% endif %}

        </div>
    </div>
{% endblock %}