{% extends 'core/home.html' %}

{% load widget_tweaks %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="column is-4-desktop is-6-tablet is-offset-4-desktop is-offset-3-tablet has-text-centered">
        <form method="post" action="." class="accounts-form">
            {% csrf_token %}
            {% for field in form %}
                <div class="columns">
                    <div class="column is-4">
                        {{ field.label_tag }}
                    </div>
                    <div class="column is-8">
                        {% render_field field class+="input" %}
                    </div>
                    <div class="column is-12">
                        {{ field.errors }}
                    </div>
                </div>
            {% endfor %}
            <button type="submit" class="button is-primary">Login</button>
        </form>
        <span>Need an account? <a href="{% url 'registration_register' %}">Register</a></span>
    </div>
{% endblock %}