{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Gravitational Space Race{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.3.1/css/bulma.css" />
    <link rel="stylesheet" href="{% static 'core/css/main.css' %}" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    {% block stylesheets %}
    {% endblock %}
    {% block styles %}
    {% endblock %}
</head>
<body>
<nav class="nav">
    <div class="nav-left">
        <a class="nav-item">
            <img src="http://bulma.io/images/bulma-logo.png" alt="Bulma logo">
        </a>
    </div>

    <div class="nav-center">
        <a class="nav-item" href="/">
            Home
        </a>
        <a class="nav-item" href="{% url 'client:lobby_list' %}">
            Lobby
        </a>
    </div>

    <!-- This "nav-toggle" hamburger menu is only visible on mobile -->
    <!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
    <span class="nav-toggle">
    <span></span>
    <span></span>
    <span></span>
  </span>

    <!-- This "nav-menu" is hidden on mobile -->
    <!-- Add the modifier "is-active" to display it on mobile -->
    <div class="nav-right nav-menu">
        <a class="nav-item" href="http://github.com/sampsonbryce" target="_blank">
          <span class="icon">
            <i class="fa fa-github"></i>
          </span>
        </a>

        <span class="nav-item">
           {% if user.is_authenticated %}
              <p>Welcome {{ user }}</p>
           {% else %}
               <a class="button is-primary" href="{% url 'auth_login' %}">
                <span class="icon">
                  <i class="fa fa-user"></i>
                </span>
                <span>Login</span>
              </a>
           {% endif %}
        </span>
    </div>
</nav>

{% block body %}
{% endblock %}

{% block scripts %}
{% endblock %}

</body>
</html>