.accounts-form{
    margin-top: 50px;
}

.children-is-vertical-center{
    display:flex;
    flex-direction:column;
    justify-content:center;
}
.lobby-navbar{
	background-color:black;
	color:white;
}